.shop-footer a {
    color: white;
    text-decoration: none;
    margin-right: 3rem;
    font-size: 1.5rem;
}

.shop-footer a:hover {
    font-size: 1.7rem;
}

tbody a, .menu-link
{
    text-decoration: none;
}

.posters {
    width: 10rem;
}

.accounts a {
    margin: 0 1rem;
    color: white;
    text-decoration: none;
}